.about {
    font-size: 1.5rem;
    display: flex;
    padding: 5rem;
}

.about-title{

}

.biography-container {
    font-size: 1.5rem;
    margin: 4rem;
    width: 40vw;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
    justify-content: end;
    /* border: 1px solid black; */
}

.language-button{
    text-transform: uppercase;
    /* background-color: black; */
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    border-radius: 0px;
    cursor: pointer;
    

    box-sizing: border-box;
    width: 3.5rem;
    border-width: 0px;
    margin-bottom: 3px;
}
