.NavbarItems{
    background-color:rgb(240, 240, 240);
    /* border-bottom: 0.1rem solid black; */
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.nav-title {    
    font-size: 1.6rem;
    font-weight: bolder;
    justify-self: end;
    margin-right: 4rem;
    color:rgb(150, 150, 150);
}

.nav-menu {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 1.2rem;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: start;
}

.nav-links {
    color: rgb(150, 150, 150);
    text-decoration: none;
    padding: 0.5em 1rem;
}

.menu-icon {
    font-size: 2.5rem;
    color: rgb(150, 150, 150);
}