:root {
    --background-color: #f0f0f0;
    --font-color: #969696;
}

.NavbarItems{
    background-color: var(--background-color);
    /* border-bottom: 0.1rem solid black; */
    height: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.nav-menu {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 1.2rem;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: start;
    margin-right: 1rem;
}

.nav-links {
    color: var(--font-color);
    text-decoration: none;
    padding: 0.5em 1rem;
}

.nav-links:hover {
    border-bottom: 1px solid black;
    padding-bottom: 2.8rem;
    border-width: 1rem;
    transition: border 0.2s ease-out;
    /* color: white; */
}

.menu-icon {
    display: none;
}

.fa-times {
    color: var(--font-color);
    font-size: 2.5rem;
}

.fa-bars {
    color: var(--font-color);
    font-size: 2.5rem;
}

.navbar-title {
    /* color: white; */
    color: var(--font-color);
    font-size: 1.6rem;
    font-weight: bolder;
    justify-self: end;
    margin-right: 4rem;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #6568F4;
        transition: 250ms;
    }

    Button {
        display: none;
    }
}

/* @media screen and (max-width: 600px){
    .NavbarItems {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: var(--background-color);
        right: 0;
        opacity: 1;
        transition: all 1s ease;
        z-index: 1;
    }

    .nav-links { 
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--background-color);
        border-radius: 0;
    }

    .navbar-title {
        position: absolute;
        top: 0;
        margin-right: auto;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: black;
        font-size: 3rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #6568F4;
        transition: 250ms;
    }
} */

